# SPDX-License-Identifier: BSD-2-Clause
#
# Homa transport protocol
#

menuconfig HOMA
	tristate "The Homa transport protocol"
	depends on INET
	depends on IPV6

	help
	  Homa is a network transport protocol for communication within
	  a datacenter. It provides significantly lower latency than TCP,
	  particularly for workloads containing a mixture of large and small
	  messages operating at high network utilization. At present, Homa
	  has been only partially upstreamed; this version provides bare-bones
	  functionality but is not performant. For more information see the
	  homa(7) man page or checkout the Homa Wiki at
	  https://homa-transport.atlassian.net/wiki/spaces/HOMA/overview.

	  If unsure, say N.
